*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
# Laravel cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
# Windows
desktop.ini

# Snapshot
snapshot_*.txt

# Archives
*.zip
*.rar
*.7z
*.tar
*.gz
